<h3><strong>Title: </strong><%= @location.title %> </h3>

<h5><strong>Lat: </strong><%= @location.lat %></h5>
<h5><strong>Lng: </strong><%= @location.lng %></h5>
<p>
	<%= @location.description %>
</p>